@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap');
@import url('../../../variables.css');

header.visible {
    top: 0;
}

header {
    position: fixed;
    width: 100%;
    top: -100px;
    transition: top 0.3s;
}

header.visible {
    top: 0; /* Ajuste conforme a altura do seu header */
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10rem;
    width: 70%;
    margin: auto;
    background-color: var(--cor-primaria);
    border-radius: 0 0 10px 10px;
}

.header img {
    width: 7%;
    margin-right: auto;
}

.headerItens {
    display: flex;
    gap: 5em;
    align-items: center;
}

.headerItens nav a {
    color: var(--cor-nav-itens);
    font-size: 1.5rem;
    padding: 0 10px 0 10px;
    font-family: Inter;
}

.headerItens button {
    color: var(--cor-primaria);
    font-size: 1.6rem;
    font-family: Inter;
    font-style: italic;
    width: 230px;
    height: 30px;
    border-radius: 24px;
    background: #2D848D;
    box-shadow: 4px 4px 4px 0px rgba(45, 132, 141, 0.60);
}
/* RESPONSIVIDADE */
@media (max-width:1024px) {
    .header {
        padding: 1rem 2rem;
    }

    .headerItens nav a{
        font-size: 1.2rem;;
    }
    
    .header img {
        width: 11%;
    }
}

@media (max-width:768px) {
    .header {
        width: 100%;
    }
}

@media (max-width:468px) {
    
    .header {
        padding: 1.5rem 2rem;
        border-radius: 0;
    }
    .header img {
        width: 20%;
    }
    .headerItens nav{
        display: none;
    }
    .one,
    .two,
    .three {
        background-color: var(--cor-nav-itens);
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }
    .menuBurger {
        width: 35px;
        height: 25px;
        margin: 0 10px 10px 0;
    }

    /* Fullsize menuItens Mobile */

    .headerItens.on{
        position: absolute;
        background-color: var(--cor-primaria);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headerItens.on nav{
        display: block;
    }
    .headerItens.on .menuBurger {
        position: absolute;
        right: 0;
        top: 15px;
        margin: 0 10px 0 0;
    }
    .headerItens.on .menuBurger .one{
        transform: rotate(45deg) translate(7px,7px);
    }  .headerItens.on .menuBurger .two{
       opacity: 0;
    }  .headerItens.on .menuBurger .three{
        transform: rotate(-45deg) translate(8px,-10px);
    }
    .headerItens.on nav a{
        text-align: center;
        display: block;
        font-size: 2.5rem;
        line-height: 8rem;
        transition-duration: 0.5s;
    }
}